table {
	border-color: black;
	border-style: solid;
	margin: auto;
}
tr, td, th {
	border-color: gray;
	border-style: solid;
}
.des {
	border-color: gray;
	border-style: solid;
	margin: 5px;
	padding: 5px;
}
.cell {
	cursor: pointer;
}
.strike {
	text-decoration: line-through;
	cursor: default;
	background-color: gray;
}
.checkbox{

	margin: 12px;
}


input {
	margin: 9px;
}
